<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://unpkg.com/scrollreveal"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <!-- Home Section -->

    <section id="home" class="bg-neutral mt-14 md:mt-0">
        <div class="max-w-screen-xl mx-auto md:py-40 py-16 px-4 flex flex-col md:flex-row items-center md:gap-12">
            <div class="md:w-1/2 text-center md:text-left md:mt-10 hero-animate">
                
                <h2 class="lg:text-6xl md:text-4xl text-3xl font-semibold py-3 hero-text text-white">I Build and Design Web Platforms with ASP.NET</h2>
                <p class="mb-8 text-gray-400 leading-relaxed">Welcome!, I'm Marc Andrei Santos. I'm LESLIE JEAN'S' Boyfriend!</p>
                <button class="py-2 px-4 bg-primary dark:bg-primary dark:hover:bg-gray-700 dark:border-gray-700 text-white font-semibold rounded transition ease-in duration-200">Download CV</button>
            </div>
            <div class="heroImg-animate">
                <img class="md:flex hidden -mb-40" src="~/images/Marc.jpg" alt="Marc">
            </div>
        </div>
        <br />
        <br />
    </section>

    <!-- About Section -->
    <section id="about" class="bg-black/5">
        <div class="max-w-screen-lg mx-auto py-16 px-4 flex flex-col md:flex-row gap-12 items-center justify-center">
            <div class="aboutImg-animate">
                <img class="md:h-[300px] md:w-[900px] size-80 rounded-lg object-cover" src="~/images/PortfolioPic.png" alt="Marc">
            </div>
            <div class="text-center md:text-left about-animate">
                <h3 class="md:text-4xl text-3xl font-bold text-white about-text">Marc Andrei Santos</h3>
                <p class="text-primary font-semibold mb-8 text-xl">About Me</p>
                <p class="text-gray-400 leading-relaxed mb-5">Hi, I'm Marc Andrei Santos, a passionate web developer specializing in ASP.NET MVC with C#. I have experience building web applications and I'm also familiar with front-end technologies like HTML, CSS, and JavaScript.</p>
                <br />
                <a href="#contact" class="py-2 px-4 bg-primary dark:bg-primary dark:hover:bg-gray-700 dark:border-gray-700 text-white font-semibold rounded transition ease-in duration-200">Contact Me</a>
            </div>
        </div>
    </section>

   
    <!-- Tools -->
    <div class="bg-neutral">
        <div class="max-w-screen-lg mx-auto py-5 px-4">
            <div class="flex md:flex-row flex-wrap items-center justify-center md:gap-20 gap-7 icon">
                <img class="md:size-12 size-10" src="~/images/html.jpg" alt="HTML">
                <img class="md:size-12 size-10" src="~/images/css.png" alt="CSS">
                <img class="md:size-12 size-10" src="~/images/js.png" alt="Javascript">
                <img class="md:size-12 size-10" src="~/images/C.png" alt="C#">
                <img class="md:size-12 size-10" src="~/images/net.png" alt="ASP.NET">
                <img class="md:size-12 size-10 rounded-full" src="~/images/mvc.jpg" alt="MVC">
                <img class="md:size-12 size-10 rounded-full" src="~/images/entity.jpg" alt="Entity Framework">
                <img class="md:size-12 size-10" src="~/images/github.png" alt="GitHub">
            </div>
        </div>

    </div>

    <!-- Projects Section -->
    <section id="projects" class="bg-black/5">
        <div class="max-w-screen-lg mx-auto py-16 px-4">
            <div class="text-center md:w-1/2 m-auto mb-10">
                <h2 class="md:text-4xl text-3xl font-bold text-white portfolio-text mb-3 PTitle-animate">Recent Projects</h2>
                <p class="text-gray-400 leading-relaxed PDesc-animate">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, accusantium blanditiis tenetur molestiae qui rerum autem praesentium ipsa at et, aperiam rem obcaecati porro quos?</p>
            </div>
        </div>
        </section>


        <!-- Certification Section -->
        <section id="certifications" class="bg-neutral">
            <div class="max-w-screen-xl mx-auto py-16 px-4">
                <div class="text-center md:w-1/2 m-auto mb-10">
                    <h4 class="font-bold text-medium text-gray-700 dark:text-gray-400 mb-2 TDesc-animate">What I achieve</h4>
                    <h2 class="md:w-1/2 m-auto md:text-4xl text-3xl font-bold text-white service-text mb-3 TTitle-animate">Certifications</h2>
                </div>
                <div class="responsive group">
                    <!-- Card 1 -->
                    <div class="p-3 certificate-card">
                        <div class="block max-w-sm rounded-lg bg-black/40 p-5 group-hover:blur-sm hover:!blur-none group-hover:scale-[0.90] hover:!scale-100 transition duration-300 cursor-pointer">
                            <div class="certificate-image">
                                <!-- Full-size certificate image -->
                                <img class="object-cover w-full h-full rounded-lg mb-4 certificate-img" src="~/images/Certi1.jpg" alt="Certificate 1" onclick="openModal('Certi1.jpg')">
                            </div>
                            <div class="text-center">
                                <br />
                                <h4 class="text-gray-900 dark:text-white tracking-tight mb-2">Foundational C# with Microsoft</h4>
                                <a href="link-to-your-certificate-1" class="btn btn-primary text-white font-bold py-2 px-4 text-sm">Certificate Link</a>
                            </div>
                        </div>
                    </div>
                    <!-- Card 2 -->
                    <div class="p-3 certificate-card">
                        <div class="block max-w-sm rounded-lg bg-black/40 p-5 group-hover:blur-sm hover:!blur-none group-hover:scale-[0.90] hover:!scale-100 transition duration-300 cursor-pointer">
                            <div class="certificate-image">
                                <!-- Full-size certificate image -->
                                <img class="object-cover w-full h-full rounded-lg mb-4" src="~/images/Certi2.jpg" alt="Certificate 2">
                            </div>
                            <div class="text-center">
                                <br />
                                <h4 class="text-gray-900 dark:text-white tracking-tight mb-2">Azure Course</h4>
                                <a href="link-to-your-certificate-2" class="btn btn-primary text-white font-bold py-2 px-4 text-sm">Certificate Link</a>
                            </div>
                        </div>
                    </div>
                    <!-- Card 3 -->
                    <div class="p-3 certificate-card">
                        <div class="block max-w-sm rounded-lg bg-black/40 p-5 group-hover:blur-sm hover:!blur-none group-hover:scale-[0.90] hover:!scale-100 transition duration-300 cursor-pointer">
                            <div class="certificate-image">
                                <!-- Full-size certificate image -->
                                <img class="object-cover w-full h-full rounded-lg mb-4" src="~/images/Certi3.jpg" alt="Certificate 3">
                            </div>
                            <div class="text-center">
                                <br />
                                <h4 class="text-gray-900 dark:text-white tracking-tight mb-2">JPCS</h4>
                                <a href="link-to-your-certificate-3" class="btn btn-primary text-white font-bold py-2 px-4 text-sm">Certificate Link</a>
                            </div>
                        </div>
                    </div>
                    <!-- Card 4 -->
                    <div class="p-3 certificate-card">
                        <div class="block max-w-sm rounded-lg bg-black/40 p-5 group-hover:blur-sm hover:!blur-none group-hover:scale-[0.90] hover:!scale-100 transition duration-300 cursor-pointer">
                            <div class="certificate-image">
                                <!-- Full-size certificate image -->
                                <img class="object-cover w-full h-full rounded-lg mb-4" src="~/images/Certi2.jpg" alt="Certificate 4">
                            </div>
                            <div class="text-center">
                                <br />
                                <h4 class="text-gray-900 dark:text-white tracking-tight mb-2">Azure Course</h4>
                                <a href="link-to-your-certificate-4" class="btn btn-primary text-white font-bold py-2 px-4 text-sm">Certificate Link</a>
                            </div>
                        </div>
                    </div>
                    <!-- Add more certificates as needed -->
                </div>
            </div>
        </section>


        <!-- Modal for Zoomed-In Certificate -->
        <div id="imageModal" class="modal">
            <span class="close-btn" onclick="closeModal()">×</span>
            <img class="modal-content" id="modalImage" />
            <button class="close-cert-btn" onclick="closeModal()">Close Preview</button>
        </div>

 
    <!-- Skills Section -->
    <section id="skills" class="bg-black/40">
        <div class="max-w-screen-xl mx-auto py-16 px-4">
            <div class="text-center md:w-1/2 m-auto mb-10">
                <h2 class="md:text-4xl text-3xl font-bold text-white service-text mb-3 STitle-animate">What I Do</h2>
                <p class="text-gray-400 leading-relaxed SDesc-animate">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, accusantium blanditiis tenetur molestiae qui rerum autem praesentium ipsa at et, aperiam rem obcaecati porro quos?</p>
            </div>
            <div class="flex items-center flex-col md:flex-row gap-5">
                <div class="card bg-black/40 skeleton border border-neutral-500">
                    <img class="size-12 ml-7 mt-5" src="/Images/icons8-web-design-48.png" alt="">
                    <div class="card-body">
                        <h3 class="card-title font-semibold text-white">Web Design</h3>
                        <p class="text-gray-400 leading-relaxed">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus corrupti expedita ad id laborum eum dolore recusandae officiis eius quae?</p>
                    </div>
                </div>
                <div class="card bg-black/40 skeleton border border-neutral-500">
                    <img class="size-12 ml-7 mt-5" src="/Images/icons8-web-development-48.png" alt="">
                    <div class="card-body">
                        <h3 class="card-title font-semibold text-white">Web Development</h3>
                        <p class="text-gray-400 leading-relaxed">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus corrupti expedita ad id laborum eum dolore recusandae officiis eius quae?</p>
                    </div>
                </div>
                <div class="card bg-black/40 skeleton border border-neutral-500">
                    <img class="size-12 ml-7 mt-5" src="/Images/icons8-function-48.png" alt="">
                    <div class="card-body">
                        <h3 class="card-title font-semibold text-white">User Interfaces</h3>
                        <p class="text-gray-400 leading-relaxed">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus corrupti expedita ad id laborum eum dolore recusandae officiis eius quae?</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="bg-neutral">
        <div class="max-w-screen-2xl mx-auto py-16 px-4">
            <div class="text-center md:w-1/2 m-auto md:mb-20 mb-10">
                <h2 class="md:text-4xl text-3xl font-bold text-white contact-text mb-3 CTitle-animate">Contact Me</h2>
                <p class="text-gray-400 leading-relaxed CDesc-animate">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, accusantium blanditiis tenetur molestiae qui rerum autem praesentium ipsa at et, aperiam rem obcaecati porro quos?</p>
            </div>
            <div class="flex flex-col md:flex-row items-start justify-center gap-12 contact-animate">
                <div class="flex flex-col space-y-5">
                    <div class="flex flex-row gap-5">
                        <img class="size-10" src="/Images/icons8-question-48.png" alt="">
                        <div>
                            <h3 class="font-bold text-white mb-1">Have a Question?</h3>
                            <p class="text-gray-400 text-sm">I am here to help you</p>
                            <p class="text-primary text-sm">Email me at santosmarcandrei1414@gmail.com</p>
                        </div>
                    </div>
                    <div class="flex flex-row gap-5">
                        <img class="size-10" src="/Images/icons8-location-48.png" alt="">
                        <div>
                            <h3 class="font-bold text-white mb-1">Current Location</h3>
                            <p class="text-gray-400 text-sm">Oriental Mindoro, Philippines</p>
                            <p class="text-gray-400 text-sm">Calapan City, San Vicente East</p>
                        </div>
                    </div>
                </div>
                <form>
                    <div class="grid grid-cols-2 gap-4 form-animate">
                        <input type="text" class="p-3 w-full rounded text-white bg-gray-600 font-bold text-sm focus:outline-none" placeholder="Your Name">
                        <input type="text" class="p-3 w-full rounded text-white bg-gray-600 font-bold text-sm focus:outline-none" placeholder="Your Email">
                        <input type="text" class="p-3 w-full col-span-2 rounded text-white bg-gray-600 font-bold text-sm focus:outline-none" placeholder="Your Subject">
                        <textarea class="pb-14 p-3 w-full col-span-2 rounded text-white bg-gray-600 font-bold text-sm focus:outline-none" placeholder="Your Message"></textarea>
                        <button class="md:col-span-1 col-span-2 py-2 px-4 bg-primary dark:bg-primary dark:hover:bg-gray-700 dark:border-gray-700 text-white font-semibold rounded transition ease-in duration-200">Send Message</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer footer-center p-10 bg-black text-primary-conten">
        <aside>
            <h4 class="text-2xl text-white font-bold logo">PORTFOLIO</h4>
            <p class="text-gray-400">© Marc Andrei Santos</p>
        </aside>
       
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.4.1/jquery-migrate.min.js" integrity="sha512-KgffulL3mxrOsDicgQWA11O6q6oKeWcV00VxgfJw4TcM8XRQT8Df9EsrYxDf7tpVpfl3qcYD96BpyPvA4d1FDQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js" integrity="sha512-HGOnQO9+SP1V92SrtZfjqxxtLmVzqZpjFFekvzZVWoiASSQgSr4cw9Kqd2+l8Llp4Gm0G8GIFJ4ddwZilcdb8A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
   
    <script>
        ScrollReveal({
            reset: true,
            distance: '80px',
            duration: 1640,
            delay: 200
        });

        ScrollReveal().reveal('.hero-animate', { delay: 100, origin: 'left' });
        ScrollReveal().reveal('.heroImg-animate', { delay: 150, origin: 'right' });
        ScrollReveal().reveal('.about-animate', { delay: 200, origin: 'right' });
        ScrollReveal().reveal('.aboutImg-animate', { delay: 250, origin: 'left' });
        ScrollReveal().reveal('.icon img', { delay: 150, origin: 'bottom', interval: 300 });
        ScrollReveal().reveal('.PTitle-animate', { delay: 100, origin: 'left' });
        ScrollReveal().reveal('.PDesc-animate', { delay: 150, origin: 'right' });
        ScrollReveal().reveal('.TTitle-animate', { delay: 100, origin: 'left' });
        ScrollReveal().reveal('.TDesc-animate', { delay: 150, origin: 'right' });
        ScrollReveal().reveal('.STitle-animate', { delay: 100, origin: 'left' });
        ScrollReveal().reveal('.SDesc-animate', { delay: 150, origin: 'right' });
        ScrollReveal().reveal('.CTitle-animate', { delay: 100, origin: 'left' });
        ScrollReveal().reveal('.CDesc-animate', { delay: 150, origin: 'right' });
        ScrollReveal().reveal('.contact-animate', { delay: 150, origin: 'left' });
        ScrollReveal().reveal('.form-animate', { delay: 200, origin: 'right' });
        ScrollReveal().reveal('.footer-animate a', { delay: 150, origin: 'left', interval: 50 });


        $('.responsive').slick({
            dots: true,
            slidesToShow: 3,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 2000,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 1,
                        infinite: true,
                        dots: true
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }
            ]
        });
    </script>



</body>
</html>