<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Portfolio</title>

    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href="https://unpkg.com/aos@2.3.4/dist/aos.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

    <link rel="icon" type="image/png" href="~/images/coding.jpg" />

</head>

<body>

    <span class="loader" id="loader"></span>


    <div id="site-wrapper" class="site-wrapper">
        <header>
            <div class="mx-auto px-2 sm:px-4 lg:px-6" style="width: 82%;">
                <nav class="px-6 py-6 flex items-center justify-between">
                    <a class="text-2xl text-white font-bold logo" style="font-family: 'Poppins', sans-serif;">Portfolio</a>

                    <ul class="md:flex items-center gap-10 hidden">
                        <li class="py-2 px-4 hover:bg-primary transition ease-in duration-200 rounded">
                            <a href="#" class="font-semibold text-lg text-white">Home</a>
                        </li>
                        <li class="py-2 px-4 hover:bg-primary transition ease-in duration-200 rounded">
                            <a href="#about" class="font-semibold text-lg text-white">About</a>
                        </li>
                        <li class="py-2 px-4 hover:bg-primary transition ease-in duration-200 rounded">
                            <a href="#projects" class="font-semibold text-lg text-white">Projects</a>
                        </li>
                        <li class="py-2 px-4 hover:bg-primary transition ease-in duration-200 rounded">
                            <a href="#education" class="font-semibold text-lg text-white">Education</a>
                        </li>
                        <li class="py-2 px-4 hover:bg-primary transition ease-in duration-200 rounded">
                            <a href="#experience" class="font-semibold text-lg text-white">Experience</a>
                        </li>
                        <li class="py-2 px-4 hover:bg-primary transition ease-in duration-200 rounded">
                            <a href="#certifications" class="font-semibold text-lg text-white">Certifications</a>
                        </li>
                        <li class="py-2 px-4 hover:bg-primary transition ease-in duration-200 rounded">
                            <a href="#contact" class="font-semibold text-lg text-white">Contacts</a>
                        </li>
                    </ul>


                    <button class="block md:hidden group relative" id="hamburger">
                        <div class="w-8 h-1 bg-gray-200 mb-2"></div>
                        <div class="w-8 h-1 bg-gray-200 mb-2"></div>
                        <div class="w-8 h-1 bg-gray-200"></div>
                    </button>

                    <ul id="mobile-menu" class="absolute top-0 right-0 w-9/12 bg-neutral h-screen transform -translate-x-full opacity-0 transition-all duration-500 flex flex-col items-center pt-12">
                        <li class="w-full">
                            <button id="close-btn" class="absolute top-5 right-5 text-white text-3xl">&times;</button>
                        </li>
                        <li class="py-8 hover:bg-primary transition ease-in duration-200 w-full">
                            <a href="#" class="font-semibold text-lg text-white">Home</a>
                        </li>
                        <li class="py-8 hover:bg-primary transition ease-in duration-200 w-full">
                            <a href="#about" class="font-semibold text-lg text-white">About</a>
                        </li>
                        <li class="py-8 hover:bg-primary transition ease-in duration-200 w-full">
                            <a href="#projects" class="font-semibold  text-lg text-white">Projects</a>
                        </li>
                        <li class="py-8 hover:bg-primary transition ease-in duration-200 w-full">
                            <a href="#education" class="font-semibold  text-lg text-white">Education</a>
                        </li>
                        <li class="py-8 hover:bg-primary transition ease-in duration-200 w-full">
                            <a href="#experience" class="font-semibold  text-lg text-white">Experience</a>
                        </li>
                        <li class="py-8 hover:bg-primary transition ease-in duration-200 w-full">
                            <a href="#certifications" class="font-semibold text-lg text-white">Certifications</a>
                        </li>
                        <li class="py-8 hover:bg-primary transition ease-in duration-200 w-full">
                            <a href="#contact" class="font-semibold text-lg text-white">Contacts</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div id="chatbot-container">
        <button id="chat-toggle" class="chat-toggle"> 💬 </button>

        <div id="chat-window" class="chat-window hidden">
            <div class="chat-header">
                <div class="chat-header-left">
                    <img src="~/images/coding.jpg" class="chat-pfp border-2 border-black rounded-full" alt="Marc">
                    <div>
                        <div class="chat-title">Marc Andrei Santos</div>
                        <div class="chat-subtitle">Portfolio Assistant</div>
                    </div>
                </div>

                <button id="close-chat" class="close-chat">&times;</button>
            </div>

            <div id="chatBox" class="chat-body">
            </div>

            <form id="chatForm" class="chat-form">
                <input type="text" id="userMessage" placeholder="Type a message..." autocomplete="off" />
                <button type="submit" id="sendButton">
                    <span class="send-text">Send</span>
                    <div class="circle-loader" style="display:none;"></div>
                </button>
            </form>
        </div>
    </div>
   

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

    <script src="~/js/chatbot.js"></script>
    <script src="~/js/emailkey.js"></script>
    <script src="~/js/email.js"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)


</body>
</html>